<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string>qq</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>0</string>
				<key>text</key>
				<string>/::)</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>1</string>
				<key>text</key>
				<string>/::~</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>2</string>
				<key>text</key>
				<string>/::B</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>3</string>
				<key>text</key>
				<string>/::|</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>4</string>
				<key>text</key>
				<string>/:8-)</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>5</string>
				<key>text</key>
				<string>/::&lt;</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>6</string>
				<key>text</key>
				<string>/::$</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>7</string>
				<key>text</key>
				<string>/::X</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>8</string>
				<key>text</key>
				<string>/::Z</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>9</string>
				<key>text</key>
				<string>/::’(</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>10</string>
				<key>text</key>
				<string>/::-|</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>11</string>
				<key>text</key>
				<string>/::@</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>12</string>
				<key>text</key>
				<string>/::P</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>13</string>
				<key>text</key>
				<string>/::D</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>14</string>
				<key>text</key>
				<string>/::O</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>15</string>
				<key>text</key>
				<string>/::(</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>16</string>
				<key>text</key>
				<string>/::+</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>17</string>
				<key>text</key>
				<string>/:–b</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>18</string>
				<key>text</key>
				<string>/::Q</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>19</string>
				<key>text</key>
				<string>/::T</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>20</string>
				<key>text</key>
				<string>/:,@P</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>21</string>
				<key>text</key>
				<string>/:,@-D</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>22</string>
				<key>text</key>
				<string>/::d</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>23</string>
				<key>text</key>
				<string>/:,@o</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>24</string>
				<key>text</key>
				<string>/::g</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>25</string>
				<key>text</key>
				<string>/:|-)</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>26</string>
				<key>text</key>
				<string>/::!</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>27</string>
				<key>text</key>
				<string>/::L</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>28</string>
				<key>text</key>
				<string>/::&gt;</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>29</string>
				<key>text</key>
				<string>/::,@</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>30</string>
				<key>text</key>
				<string>/:,@f</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>31</string>
				<key>text</key>
				<string>/::-S</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>32</string>
				<key>text</key>
				<string>/:?</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>33</string>
				<key>text</key>
				<string>/:,@x</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>34</string>
				<key>text</key>
				<string>/:,@@</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>35</string>
				<key>text</key>
				<string>/::8</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>36</string>
				<key>text</key>
				<string>/:,@!</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>37</string>
				<key>text</key>
				<string>/:!!!</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>38</string>
				<key>text</key>
				<string>/:xx</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>39</string>
				<key>text</key>
				<string>/:bye</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>40</string>
				<key>text</key>
				<string>/:wipe</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>41</string>
				<key>text</key>
				<string>/:dig</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>42</string>
				<key>text</key>
				<string>/:handclap</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>43</string>
				<key>text</key>
				<string>/:&amp;-(</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>44</string>
				<key>text</key>
				<string>/:B-)</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>45</string>
				<key>text</key>
				<string>/:&lt;@</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>46</string>
				<key>text</key>
				<string>/:@&gt;</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>47</string>
				<key>text</key>
				<string>/::-O</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>48</string>
				<key>text</key>
				<string>/:&gt;-|</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>49</string>
				<key>text</key>
				<string>/:P-(</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>50</string>
				<key>text</key>
				<string>/::’|</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>51</string>
				<key>text</key>
				<string>/:X-)</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>52</string>
				<key>text</key>
				<string>/::*</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>53</string>
				<key>text</key>
				<string>/:@x</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>54</string>
				<key>text</key>
				<string>/:8*</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>55</string>
				<key>text</key>
				<string>/:pd</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>56</string>
				<key>text</key>
				<string>/:&lt;W&gt;</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>57</string>
				<key>text</key>
				<string>/:beer</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>58</string>
				<key>text</key>
				<string>/:basketb</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>59</string>
				<key>text</key>
				<string>/:oo</string>
				<key>desc</key>
				<string>猪</string>
			</dict>
			<dict>
				<key>image</key>
				<string>60</string>
				<key>text</key>
				<string>/:coffee</string>
				<key>desc</key>
				<string>咖啡</string>
			</dict>
			<dict>
				<key>image</key>
				<string>61</string>
				<key>text</key>
				<string>/:eat</string>
				<key>desc</key>
				<string>吃饭</string>
			</dict>
			<dict>
				<key>image</key>
				<string>62</string>
				<key>text</key>
				<string>/:pig&quot;</string>
				<key>desc</key>
				<string>猪</string>
			</dict>
			<dict>
				<key>image</key>
				<string>63</string>
				<key>text</key>
				<string>/:rose</string>
				<key>desc</key>
				<string>玫瑰</string>
			</dict>
			<dict>
				<key>image</key>
				<string>64</string>
				<key>text</key>
				<string>/:fade</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>65</string>
				<key>text</key>
				<string>/:showlove</string>
				<key>desc</key>
				<string>示爱</string>
			</dict>
			<dict>
				<key>image</key>
				<string>66</string>
				<key>text</key>
				<string>/:heart</string>
				<key>desc</key>
				<string>爱心</string>
			</dict>
			<dict>
				<key>image</key>
				<string>67</string>
				<key>text</key>
				<string>/:break</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>68</string>
				<key>text</key>
				<string>/:cake</string>
				<key>desc</key>
				<string>蛋糕</string>
			</dict>
			<dict>
				<key>image</key>
				<string>69</string>
				<key>text</key>
				<string>/:li</string>
				<key>desc</key>
				<string>闪电</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
